


.landing {
    background-image: url("/assets/images/dj.jpg"); /* The image used */
    background-color: black; /* Used if the image is unavailable */
    height: 750px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

  
  .hero-title {
    top: 60%;
    left: 51%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 400%;
  }

  .selling-points {
      top:60%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      position: absolute;

  }

  .point-title {
    text-align: center;
    top: 20%;
    text-transform: uppercase;
    color: white;
    font-family: 'Titillium Web' sans-serif;
    font-size: 150%;
  }

  .point-description {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: darkgray;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    background-color: #4e003a;
    top: 20%;
    float: left;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:before {
    height: 750px;
    
    content: "";
    display: table;
    clear: both;
  }